.experiencia {
  grid-column: 2;
  padding: 2.7rem 4.7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
}
.experiencia h2 {
  text-transform: uppercase;
  word-break: break-all;
  font-size: 7rem;
  max-width: 4ch;
  color: #d8d8d8;
}
.experiencia-texto {
  font-size: 1.4rem;
  max-width: 40vw;
  padding-bottom: 4rem;
  color: #000;
  line-height: 1.5;
}
.experiencia-texto strong {
  color: #000;
}
.experiencia-profissional-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}
.experiencia-profissional {
  background: rgb(235, 235, 235);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
  border-radius: 0.5rem;
}
.experiencia-profissional span {
  position: absolute;
  top: 18px;
  left: -90px;
  width: 70px;
  text-align: right;
}
.experiencia-profissional:before {
  content: "";
  position: absolute;
  background: linear-gradient(rgb(190, 255, 190), rgb(0, 194, 0));
  width: 5px;
  height: 25px;
  left: -5px;
  top: 15px;
}
.experiencia-profissional ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: start;
}
.experiencia-profissional li {
  background: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}