.introducao {
  grid-column: 2;
  padding: 2.70rem 4.70rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
  align-items: center;
}
.introducao h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
.introducao p {
  font-size: 1.4rem;
}