.introducao {
  grid-column: 2;
  padding: 2.70rem 4.70rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
  align-items: center;
}
.introducao h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
.introducao p {
  font-size: 1.4rem;
}
@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    margin: 0 auto;
  }
  .introducao h1 {
    text-align: center;
  }
  .introducao p {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .introducao {
    padding: 2rem .75rem;
  }
}