[data-menu-mobile-button] {
  display: none;
}
@media (max-width: 800px) {
  [data-menu-mobile-list] {
    display: none;
    position: absolute;
    background: #666;
    top: 0;
    flex-direction: column;
    padding: 100px 0 20px 0;
    width: 300px;
    left: 0;
    z-index: 1;
    border-radius: 0 7px 7px 0;
  }
  .header-menu a {
    border-radius: 0;
    background: #666;
    color: #eee;
    text-align: start;
  }
  [data-menu-mobile-button] {
    display: flex;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 7px;
    align-items: center;
    gap: 0.25rem;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 2.2rem;
    left: 0.75rem;
    z-index: 2;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
  }
  [data-menu-mobile-button]:before {
    content: "";
    background: url("../img/icons8-cardápio.svg");
    background-size: cover;
    width: 25px;
    height: 25px;
    transition: 0.5s;
  }
  [data-menu-mobile-button].active:before {
    transform: rotate(90deg);
  }
  [data-menu-mobile-list].active {
    display: flex;
    animation: menuMobile 0.5s forwards;
  }
  @keyframes menuMobile {
    from {
      opacity: 0;
      transform: translate3d(-50px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
